.posts {
    padding: 0px 32px;

    .post {
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 20px;
        transition: 300ms all;

        .postHeader{
            display: flex;
            align-items: flex-start;
            .postImage{
                margin-right: 12px;
                img{
                    border-radius: 4px;
                }
            }
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .postTitle {
            font-size: 24px;
            font-weight: 600;
            color: #222;
        }

        &:hover {
            box-shadow: -3px 3px 10px #E8E7D5;
        }

        .time {
            background-color: #eeeedf;
            padding: 4px 8px;
            border-radius: 4px;
            width: fit-content;
            margin-top: 12px;
        }
    }
}

.searchContainer {
    padding: 20px 32px;
    background-color: #fff;
    z-index: 99;
    position: sticky;
    top: 114px;
    left: 0px;
    

    .search {
        width: 100%;
        padding-right: 16px;
    }
}
.searchScrolled{
    border-bottom: 1px solid #eee;
}